.Order-list {
  max-width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 9rem;
}
.Order-list .product-header {
  text-align: center;
  margin-bottom: 20px;
}
.Order-list .product-header h2 {
  font-size: 1.5rem;
  color: #333;
}
.Order-list .product-container {
  display: grid;
  gap: 1rem;
}
.Order-list .product-container .product-headers {
  font-size: 1.4rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1.53fr 0.3fr 0.73fr 1.1fr 0.65fr 0.29fr 0.5fr 0.7fr 1.09fr 0.46fr;
  color: #555;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
}
.Order-list .product-container .product-headers span {
  text-align: center;
}
.Order-list .product-container .product-row {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1.7fr 0.3fr 0.8fr 1.3fr 0.7fr 0.29fr 0.6fr 0.8fr 1.2fr 0.1fr;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.Order-list .product-container .product-row:last-child {
  border-bottom: none;
}
.Order-list .product-container .product-row .product-item {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}
.Order-list .product-container .product-row .product-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.Order-list .product-container .product-row .product-item .product-text .name {
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.Order-list .product-container .product-row .product-item .product-text .about {
  font-size: 0.75rem;
  color: #777;
  text-align: center;
}
.Order-list .product-container .product-row span {
  font-size: 1.2rem;
  text-align: center;
}
.Order-list .product-container .product-row span.type {
  display: none; /* Hidden by default */
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
}
.Order-list .product-container .product-row span.quantity {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 8px;
}
.Order-list .product-container .product-row span.status {
  padding: 3px 0;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}
.Order-list .product-container .product-row span.not-delivered {
  background-color: #f8d7da;
  color: #721c24;
}
.Order-list .product-container .product-row span.delivered {
  background-color: #d4edda;
  color: #155724;
}
.Order-list .product-container .product-row .button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 2.5rem;
}
.Order-list .product-container .product-row .button img {
  height: 23px;
  width: auto;
}
.Order-list .product-container .product-row .buttons {
  display: flex;
}
@media (max-width: 901px) {
  .Order-list .product-container {
    grid-template-rows: auto;
    gap: 1rem;
  }
  .Order-list .product-container .product-headers {
    display: none;
  }
  .Order-list .product-container .product-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 10px;
    gap: 1rem;
    justify-items: center;
  }
  .Order-list .product-container .product-row .product-item {
    grid-column: 1/-1;
    margin-bottom: 1rem;
  }
  .Order-list .product-container .product-row .product-item span {
    margin-bottom: 1rem;
  }
  .Order-list .product-container .product-row span {
    width: 30%;
    display: flex;
    align-items: left;
    justify-content: space-around;
  }
  .Order-list .product-container .product-row span.type {
    display: inline;
  }
  .Order-list .product-container .product-row span span {
    width: fit-content;
  }
}

@media (max-width: 901px) {
  .product-container {
    margin-top: 12.5rem;
  }
}

/*# sourceMappingURL=OrderList.css.map */
